body {
    background-color: #323232;
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 300px 550px 100px;
    grid-template-rows: 1200px 500px 350px auto 300px;
    /* grid-gap: 5px; */
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "vd vd vd vd vd vd vd vd"
    "sd sd sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft"
    ;
}

.navbar {
    display: flex;
    width: 100%;
    height: 12%;
}

/* #767676 */
ul {
    list-style-type: none;
    width: 100%;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.navLink {
    color: #fff;
    padding: 10px 0px;
    cursor: pointer;
    margin: 0px 12px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #900;
}

.navLink:hover {
    color: #900;
    border-bottom: 1px solid #fff;
}

.logo {
    margin: 3px;
    height: 120px;
}

li {
    float: right;
    margin: 10px;
    padding: 10px;
}

header {
    grid-area: hd;
    /* border: 1px solid #000; */
    background-image: url(images/news5.jpeg);
    background-size: cover;
}


.laarbi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 50%;
    height: 400px;
    background: url('inji.png') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover;
    outline: 6px double #333231;
    /* -webkit-box-shadow: 0 0 60px #51504e; */
    /* box-shadow: 0 0 60px #51504e; */
    border-radius: 2px;
}

h1:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

main {
    grid-area: main;
    text-align: center;
    background-image: url(images/pen.jpg);
    background-size: 100% 100%;
    /* filter to change color image to black and white */
    /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */ 
}

.vd {
    grid-area: vd;
    background-color: #242323;
}

#myVideo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    
}

.work{
    text-decoration: underline #900;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 5%;
    /* font-size: 30px;
    font-weight: 700; */
    padding: 5px;
    
}

.about1 {
    text-align: center;
    border-radius: 35px;
    padding: 15px;
}

main p {
    font-size: 12px !important;
    padding-left: 70px;
    font-weight: 100;
    font-size: 16px;
}

.Name {
    margin-top: 7%;
    font-weight: 700;
    font-size: 40px !important;
    /* background: -webkit-linear-gradient(#ca2306, #9a9be9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.about1:hover {
    background-color: rgb(44, 43, 43,0.5); 
    /* box-shadow: #00000059 0px 5px 15px; */
}

/*  love this pink #f1bebe */

.intro {
    margin-top: 20%;
    margin-left: 35%;
}

/* Position the image container (needed to position the left and right arrows) */
.slide {
    grid-area: sd;
    position: relative;
    /* border: 1px solid #000; */
    text-align: center;
    background-color: #1a1919;

}



/* portfolio galery*/
section {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
    margin-bottom: 20px;
    background: #212121;
    width: auto;
    border-radius: 50px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

section ul li {
    list-style: none;
    padding: 5px 15px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 50px;
}

section ul li.active {
    background-color: #900;
}


.chanels .itemBox.hide {
    display: none;
}


.chanels {
    column-count: 3;
    max-width: 1000px;
    margin: 0;
    /* padding: 30px; */
}

.chanels img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2px; 
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #323232;
    cursor: pointer;
}

.itemBox {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background:rgb(33, 33, 33);
    background: rgba(33, 33, 33, 0.8); /* Black see-through */
    color: #f1f1f1;
    width: 87%;
    text-align: center;
    font-size: 14px;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
}


  /* When you mouse over the container, fade in the overlay title */
.itemBox:hover .overlay {
    opacity: 1;
}




/* footer */
footer {
    grid-area: ft;
    text-align: center;
    background: #1b1b1b;
    padding: 30px;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 5%;
}

.email {
    /* border: 1px dashed #900; */
    
    background-color: #323232;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.email:hover, .mobile:hover, .adress:hover, .rate:hover {
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.mobile {
    /* border: 1px dashed #900; */
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.adress {
    /* border: 1px dashed #900; */
    background-color: #242323;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.rate{
    background-color: #323232;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

footer i {
    color: #f32e2e;
}
